<nav class="navbar navbar-expand-md sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings">
      <i class="fa-regular fa-compass fa-lg"></i>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="search-wrapper mx-auto w-100">
        <form
          class="d-flex w-100"
          role="search"
          action="/listings"
          method="GET"
          style="max-width: 600px"
        >
          <input
            class="form-control me-2 search-input"
            type="search"
            placeholder="Search destinations"
            name="q"
            value="<%= typeof q !== 'undefined' ? q : '' %>"
          />
          <button class="btn btn-search" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>Search
          </button>
        </form>
      </div>

      <ul class="navbar-nav ms-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link air text-nowrap" href="/listings/new"
            >Airbnb your home</a
          >
        </li>
        <% if (typeof currUser === "undefined" || !currUser) { %>

        <li class="nav-item">
          <a class="nav-link text-nowrap" href="/signup"><b>Sign up</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-nowrap" href="/login"><b>Log in</b></a>
        </li>
        <% } else { %>
        <li class="nav-item">
          <a class="nav-link text-nowrap" href="/logout">Log out</a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
